@import url('https://fonts.googleapis.com/css2?family=Farro&family=PT+Serif&family=Roboto+Mono:ital,wght@0,300;0,400;1,300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Farro', sans-serif;

    font-family: 'PT Serif', serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #282c34;
    color: white;
    max-width: 1100px;
    margin: 0 auto;


}

a {
    color: #bdc3c7
}

